*.retry
*.swp
.vscode/
.direnv/

# Ansible
ansible-vault-password
ansible/admin.conf
ansible/super-admin.conf
ansible/.ansible
.galaxy_install_info
ansible/galaxy/**/*.png

# OpenTofu/Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
backend.tf

# Kubernetes
kubernetes/hass/configmap.yaml
kubernetes/resticprofile/.cache
kubernetes/resticprofile/.tmp

# ESPHome
esphome/secrets.yaml
