[global]
keyboard = "en-us"
country = "us"
fqdn = "{{ host }}.{{ hostvars[host]['domain'] }}"
mailto = "admin@oneill.net"
timezone = "America/New_York"
root-password-hashed = "$6$rounds=1000000$cokzO6b5JXHIg14R$WxBbuuOlpy.Tx9AygtMYXy8hfJ21NjpYsBqJ/GMn0e7SrdPDcCGh2hA1JiymFzO4sy2k4nLPCL6kXBA9lgkQS1"
root-ssh-keys = [
    "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIB3URIT9ojo8mqsEjxmFu1C+Bxa3jdcKkUzM++IfDVmu coneill@xtal.oneill.net"
]

[network]
source = "from-answer"
cidr = "{{ hostvars[host]['proxmox_bridges'][0]['address'] }}"
dns = "172.19.74.1"
gateway = "172.19.74.1"

[network.filter]
ID_NET_NAME_PATH = "{{ hostvars[host]['proxmox_install_nic'] }}"

[network.interface-name-pinning]
enabled = true

[disk-setup]
filesystem = "zfs"
zfs.raid = "{{ hostvars[host]['proxmox_zfs_raid'] | default('raid0') }}"

[disk-setup.filter]
ID_BUS = "ata"

[first-boot]
source = "from-url"
url = "https://os-install.oneill.net/post-install.sh"
