---
apiVersion: external-secrets.io/v1
kind: ExternalSecret

metadata:
  name: authentik-oidc-blueprints
  namespace: authentik

spec:
  secretStoreRef:
    name: production
    kind: ClusterSecretStore
  refreshInterval: 1h
  data:
{%- for app in oidc_apps %}
  - secretKey: {{ app.app_name }}_client_id
    remoteRef:
      key: {{ app.app_name }}-oidc
      property: client-id
  - secretKey: {{ app.app_name }}_client_secret
    remoteRef:
      key: {{ app.app_name }}-oidc
      property: client-secret
{%- endfor %}
  target:
    name: authentik-oidc-blueprints
    template:
      engineVersion: v2
      data:
{% for app in oidc_apps %}
        {{ app.app_name }}.yaml: |-
          version: 1
          entries:
          - identifiers:  # {{ app.app_name }} OIDC Provider
              name: {{ app.app_name }}-oidc
            id: {{ app.app_name }}_oidc_provider
            model: authentik_providers_oauth2.oauth2provider
            state: present
            attrs:
              name: {{ app.app_name }}-oidc
              client_type: confidential
              client_id: '{{ '{{ .' ~ app.app_name ~ '_client_id }}' }}'
              client_secret: '{{ '{{ .' ~ app.app_name ~ '_client_secret }}' }}'
              issuer_mode: per_provider
              include_claims_in_id_token: true
              sub_mode: hashed_user_id
              signing_key: !Find
              - authentik_crypto.certificatekey
              - [name, authentik Self-signed Certificate]
              authorization_flow: !Find
              - authentik_flows.flow
              - [slug, default-provider-authorization-implicit-consent]
              invalidation_flow: !Find
              - authentik_flows.flow
              - [slug, default-provider-invalidation-flow]
              redirect_uris:
              - matching_mode: strict
                url: {{ app.external_host }}{{ app.oidc_callback_path }}
          - identifiers:  # {{ app.app_name }} Application
              slug: {{ app.app_name }}
            id: {{ app.app_name }}_app
            model: authentik_core.application
            state: present
            attrs:
              name: {{ app.app_name }}
              provider: !KeyOf {{ app.app_name }}_oidc_provider
{% endfor %}
