#### Preseed for Debian Trixie
### Localization
d-i debian-installer/locale string en_US
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
d-i netcfg/choose_interface select auto
d-i netcfg/get_domain string unassigned-domain

### Mirror settings
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

### Account setup
d-i passwd/root-login boolean true
d-i passwd/root-password-crypted password $6$rounds=1000000$cokzO6b5JXHIg14R$WxBbuuOlpy.Tx9AygtMYXy8hfJ21NjpYsBqJ/GMn0e7SrdPDcCGh2hA1JiymFzO4sy2k4nLPCL6kXBA9lgkQS1
d-i passwd/user-fullname string Ansible User
d-i passwd/username string ansible
d-i passwd/user-password-crypted password $6$rounds=1000000$RpVgooiQ$n9mSw3FrvtdsdQ0mYlfX1RFPSfAX0EkRqbUJ6wEZ6rXtKcaeiLM4tPlzZe.Orc8MOw3w6fTXrd3i/xEYf2ZTI1
d-i passwd/user-uid string 9000

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string US/Eastern
d-i clock-setup/ntp boolean true

### Partitioning
d-i partman-auto/method string lvm
d-i partman-auto-lvm/new_vg_name string rootvg
d-i partman-auto-lvm/guided_size string max
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto/expert_recipe string                         \
      big-root ::                                             \
              256 512 512 ext4                                \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ /boot }                     \
              .                                               \
              500 10000 -1 ext4                               \
                      $lvmok{_}                               \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
              .

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true

### Base system installation
d-i base-installer/install-recommends boolean false

### Apt setup
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

### Package selection
tasksel tasksel/first multiselect ssh-server
d-i pkgsel/upgrade select full-upgrade
d-i pkgsel/include string openssh-server wget

### Boot loader installation
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev string default

### Finishing up the installation
d-i finish-install/reboot_in_progress note

### Late command - fetch and run post-install script
d-i preseed/late_command string \
  wget -O /target/tmp/post-install.sh http://infra1.oneill.net:8081/post-install.sh ; \
  in-target chmod +x /tmp/post-install.sh ; \
  in-target /tmp/post-install.sh
