---
http:
  routers:
    matter-server:
      rule: "Host(`{{ matter_server_hostname }}`)"
      entryPoints:
        - websecure
      service: matter-server
      tls:
        certResolver: letsencrypt

    otbr:
      rule: "Host(`{{ matter_otbr_hostname }}`)"
      entryPoints:
        - websecure
      service: otbr-web
      tls:
        certResolver: letsencrypt

    otbr-api:
      rule: "Host(`{{ matter_otbr_hostname }}`) && (PathPrefix(`/node`) || PathPrefix(`/diagnostics`) || PathPrefix(`/v1`))"
      entryPoints:
        - websecure
      service: otbr-api
      priority: 100
      tls:
        certResolver: letsencrypt

  services:
    matter-server:
      loadBalancer:
        servers:
          - url: "http://{{ ansible_host }}:5580"

    otbr-web:
      loadBalancer:
        servers:
          - url: "http://{{ ansible_docker0.ipv4.address }}:8080"

    otbr-api:
      loadBalancer:
        servers:
          - url: "http://{{ ansible_docker0.ipv4.address }}:8081"
